<%= form_with model: article do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <% article.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
